body {
	font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
	font-size: 32px;;
}
div, h3 {
	margin: 0 0.5em 1em 0.5em;
	line-height: 1.5;
}
table#alternatives td {
	border: none;
	margin: 0px;
	padding: 5px;
	font-size: 32px;
}

a, a:visited {
	color: rgb(0, 105, 194);
	text-decoration: none;
}

a#toggle {
	color: #fff;
}

input[type=text] {
	padding: 12px;
	box-sizing: border-box;
	font-size: 32px;
}

.prevlink {
	float: left;
	font-size: 60px;
}

.nextlink {
	float: right;
	font-size: 60px;
}